<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.assembble.gc.mapper.SensorMapper">

    <select id="getTripleList" resultType="TripleControlDto">
        SELECT * FROM triple_control
    </select>


    <select id="getErmList" resultType="ErmInfoEventDto">
        SELECT * FROM erm_info_event
    </select>

    <select id="getMbeventList" resultType="MbSensorDto">
        SELECT
        s.device_number,
        date_format(max(e.measure_time),'%Y-%m-%d-%T') AS measure_time,
        date_format(MAX(e.update_time),'%Y-%m-%d %H:%i:%s') AS update_time,
        CASE
        WHEN date_format(MAX(e.update_time),'%m-%d %T%') = date_format(now(),'%m-%d %T') THEN 'Danger'
        ELSE 'Safe'
        END AS alarm, substr(NOW(3),21,24) AS time
        FROM
        rrps.mb_sensor s
        LEFT JOIN rrps.mb_event e ON s.device_number = e.device_number
        GROUP BY
        s.device_number
        ORDER BY
        s.device_number
    </select>

    <select id="getsensorInfo" resultType="map">
        SELECT device_number,
        date_format(measure_time,'%Y-%m-%d-%T') AS measure_time,
        temperature1,
        temperature2,
        temperature3
        FROM rrps.mb_sensor
        WHERE device_number = #{device_number} AND
        measure_time = #{measure_time}
    </select>

    <select id="mbEventchartInfo" resultType="MbSensorDto">
        SELECT device_number,
        measure_time,
        temperature1,
        temperature2,
        temperature3
        FROM rrps.mb_sensor
        WHERE device_number = #{device_number}
        ORDER BY measure_time
    </select>

</mapper>