<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.assembble.gc.mapper.SensorMapper">

    <select id="getTripleList" resultType="TripleControlDto">
        SELECT * FROM triple_control
    </select>


    <select id="getErmList" resultType="ErmInfoEventDto">
        SELECT * FROM erm_info_event
    </select>

    <select id="getMbeventList" resultType="MbSensorDto">
        SELECT
        s.device_number,
        MAX(s.measure_time) AS sensor_measure_time,
        MAX(e.measure_time) AS event_measure_time,
        CASE
        WHEN MAX(e.measure_time) = NOW() THEN 'Danger'
        ELSE 'Safe'
        END AS alarm
        FROM
        rrps.mb_sensor s
        LEFT JOIN rrps.mb_event e ON s.device_number = e.device_number
        GROUP BY
        s.device_number
        ORDER BY
        s.device_number
    </select>
</mapper>